.galeria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; /* Agrega un margen superior para separar la galería del título */
    margin-right: 100px;
}

body{
    background-color: rgb(196, 246, 244);
}
p{
    text-align: justify;
}

li{
    text-align: left;
}

h1{
    text-align: center;
    color: rgb(47, 140, 140);
}
nav{
    color: rgb(60, 186, 186);
    align-items: center;
}
h2{
    color: rgb(47, 140, 140);
    text-align: center;
}
.galeria img {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}