<body>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img src="/src/asstes/logo.jpg" alt="logo">
      </div>
      <div class="col-10">
        <h1>Tu Portal Integral de Deportes y Salud</h1>
      </div>
      <div class="col">
        <img src="/src/asstes/avatar.jpg" alt="avatar">
      </div>
    </div>
  </div>


  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-11">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="Inicio">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Noticias">Noticias</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <h2>Inicio</h2>
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/src/asstes/c1.jpg" class="d-block w-100" alt="c1">
            </div>
            <div class="carousel-item">
              <img src="/src/asstes/c2.jpg" class="d-block w-100" alt="c2">
            </div>
            <div class="carousel-item">
              <img src="/src/asstes/c3.jpg" class="d-block w-100" alt="c3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      
        <p>Introducción:
      
          ¿Estás buscando mejorar tu salud y bienestar general? ¿Te apasionan los deportes y buscas estar al día con las últimas noticias y tendencias? ¡En Tu Portal Integral de Deportes y Salud encontrarás todo lo que necesitas para alcanzar tus objetivos!
          
          ¿Qué ofrecemos?
          
          En nuestro sitio web encontrarás una amplia variedad de contenido relacionado con deportes y salud, incluyendo:
          
          Artículos informativos: Escritos por expertos en salud y deporte, te brindarán información actualizada sobre diversos temas como:</p>
          
          <ul>
            <li>Nutrición y alimentación saludable</li>
            <li>Entrenamiento y rutinas de ejercicio</li>
            <li>Prevención de lesiones</li>
            <li>Psicología deportiva</li>
            <li>Bienestar mental</li>
          </ul>
          
         <p> Y mucho más
          
          Noticias deportivas: Mantente informado sobre los últimos eventos deportivos, resultados, análisis y entrevistas exclusivas a atletas y personalidades del mundo del deporte.
          
          Guías y tutoriales: Te guiaremos paso a paso para que puedas realizar ejercicios de manera segura y efectiva, aprender nuevas técnicas deportivas y mejorar tu rendimiento.
          
          Consejos prácticos: Te compartiremos tips y recomendaciones para que puedas adoptar un estilo de vida más saludable y activo.
          
          Recetas saludables: Descubre deliciosas y nutritivas recetas que te ayudarán a alcanzar tus metas de salud.
          
          Comunidad online: Únete a nuestra comunidad de amantes del deporte y la salud para compartir experiencias, hacer preguntas y recibir apoyo.</p>
        
      <h2>Nosotros</h2>
      
          <p>¿Por qué elegirnos?
      
        Información confiable y de calidad: Nuestro contenido está respaldado por expertos en salud y deporte, asegurando que recibas información precisa y actualizada.
        Variedad de temas: Abordamos una amplia gama de temas relacionados con el deporte y la salud, para que encuentres todo lo que necesitas en un solo lugar.
        Formato atractivo y fácil de usar: Nuestro sitio web tiene un diseño intuitivo y fácil de navegar, para que puedas encontrar la información que buscas de manera rápida y sencilla.
        Comunidad activa y supportive: Nuestra comunidad online te brinda un espacio para compartir experiencias, hacer preguntas y recibir apoyo de otros usuarios.
        ¡Empieza tu camino hacia una vida más saludable y activa hoy mismo!
        
        
        Suscríbete a nuestro boletín informativo: Recibe en tu correo electrónico las últimas noticias, artículos y consejos sobre deportes y salud.
        Sigue nuestras redes sociales: Mantente conectado con nosotros en Facebook, Instagram y Twitter para estar al día con las últimas novedades.
        Deja tu comentario: Comparte tu opinión sobre nuestros contenidos y dinos qué te gustaría encontrar en nuestro sitio web.
        Recuerda:
        
        Tu salud y bienestar son lo más importante.
        Nunca es tarde para comenzar a hacer ejercicio y adoptar un estilo de vida saludable.
        En Tu Portal Integral de Deportes y Salud encontrarás el apoyo y la información que necesitas para alcanzar tus objetivos.</p>
      
        <div class="galeria">
          <img src="/src/asstes/img-2.jpg" alt="Imagen 1">
          <img src="/src/asstes/img-3.jpg" alt="Imagen 2">
          <img src="/src/asstes/img-4.jpg" alt="Imagen 3">
          </div>
          <div class="galeria">
          <img src="/src/asstes/img-5.jpg" alt="Imagen 4">
          <img src="/src/asstes/img-6.jpg" alt="Imagen 5">
          <img src="/src/asstes/img-7.jpg" alt="Imagen 6">
          </div>
      
      
      <h2>Noticias</h2>
      <p>Título: ¡Rompiendo barreras! Atleta con discapacidad conquista nueva meta
        Subtítulo: Inspiradora historia de superación y perseverancia en el mundo del deporte.
        
        Cuerpo de la noticia:
        
        [Ciudad, Fecha]: [Nombre del atleta], un atleta con [discapacidad], ha logrado una hazaña impresionante al [describir el logro deportivo]. Su historia de superación y perseverancia está inspirando a miles de personas en todo el mundo.
        
        [Nombre del atleta] siempre ha sido apasionado por el deporte, a pesar de los desafíos que ha enfrentado debido a su [discapacidad]. Desde pequeño, ha demostrado una gran determinación y fuerza de voluntad, cualidades que lo han llevado a alcanzar grandes logros en el ámbito deportivo.
        
        Recientemente, [Nombre del atleta] ha logrado [describir el logro deportivo], una hazaña que muchos consideraban imposible.</p>
        
        <img src="/src/asstes/img-8.jpg" alt="Imagen 6">
        
       <p> Este logro no solo representa un hito personal para [Nombre del atleta], sino que también es un mensaje de esperanza e inspiración para todas las personas que enfrentan desafíos en sus vidas.
        
        La historia de [Nombre del atleta] es un recordatorio de que nada es imposible si se tiene la determinación y el trabajo duro. Su ejemplo nos enseña que las barreras solo existen en nuestras mentes y que con perseverancia podemos alcanzar cualquier meta que nos propongamos.
        
        [Nombre del atleta] ha recibido el apoyo de su familia, amigos y comunidad en su camino hacia el éxito. Su historia es un ejemplo de cómo el deporte puede ser una herramienta poderosa para la inclusión y la superación personal.
      
        Lista de datos relevantes:</p>
      
        <ul>
        <li>Nombre del atleta: [Nombre del atleta]</li>
        <li>Deporte: [Deporte]</li>
        <li>Logro deportivo: [Describir el logro deportivo]</li>
        <li>Discapacidad: [Discapacidad]</li>
        <li>Ciudad de origen: [Ciudad]</li>
        <li>Fecha del logro: [Fecha]</li>
        <li>Premios o reconocimientos: [Listar premios o reconocimientos]</li>
      </ul>
      
      <ul>
        <li>
         <a href="https://www.munideporte.com/imagenes/documentacion/ficheros/20101124173147anexo_plan_csd.pdf">Plan integral para la actividad fisica y deporte</a> 
        </li>
        <li>
          <a href="https://www.ecuadorencifras.gob.ec/actividad-fisica-y-sedentarismo/">Actividad fisica y sedentarismo</a> 
         </li>
        
      </ul>
      </div>
      <div class="col">
      </div>
    </div>
  </div>


  <br>

  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <p>&copy; Tu Portal Integral de Deportes y Salud 2024</p>
        </div>
        <div class="col">
          Contactanos: 
        </div>
      </div>
      </div>
</footer>
</body>